# Core functionality - changes here should be rare!
/src/app.py                   @WongKaiYi
/src/backend/database.py      @WongKaiYi
/src/backend/routers/auth.py  @WongKaiYi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @WongKaiYi
